*,
*::before,
*::after{
  box-sizing: border-box;
}


body {
    background-image: linear-gradient(#000000, #06067e);
    color: #d1b697;
    border: #ffc8ff80 solid 3px;
    margin: 5%;
    font-family: "Roboto", sans-serif;
  }
  main {
    display: flex;
  }
  header {
    text-align: left;
    font-size: 40px;
    line-height: 80px;
    background-color: #000000;
    height: 80px;
    padding-left: 2%;
    border-bottom: #ffc8ff80 solid 3px;
  }
  
  main {
    align-items: center;
    margin-left: 40%;
  }
/*button animations credit: https://dev.to/webdeasy/top-20-css-buttons-animations-f41*/
  .btn {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffc8ff80;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  .btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  .btn:active{
    color: #000;
  }
  .btn:active:after{
    background: transparent;
  }
  .btn:hover:before {
    opacity: 1;
  }
  .btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left:0;
    top:0;
    border-radius: 10px;
  }
  @keyframes glowing {
    0% { background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

  .timer{
    float: right;
    padding-right: 2%;
    font-size: 15px;
  }

  .card {
    background-color: #fff;
    border: 3px solid #58055880;
    border-radius: 8px;
    margin: 40px 20px;
    padding: 20px;
    width: 40vw;
    float: left;
  }
 